.row {
  margin-left: 26px;
  color: white;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 500ms;
  margin-right: 12px;
}
.row__poster:hover {
  transform: scale(1.12);
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.12);
}
